body
{
    margin: 0;
    padding: 0;
}

#Choco_overlay
{
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;

    display: none;

    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;

    background: #0a0a0a !important;
}

#Choco_content
{
    position: fixed;
    z-index: 1001;
    top: 50%;
    left: 50%;

    display: none;

    width: 800px;
    height: 600px;
    margin-top: -300px;
    margin-left: -400px;

    border-top: 1px solid transparent;
    /*Yes, adjust image perfectly at the center of a box, don't know why.*/
}

#Choco_left_arrow
{
    left: -20%;

    float: left;

    background-image: url(../images/left.png)!important;
    background-position: 12%;
}

#Choco_right_arrow
{
    left: 20%;

    float: right;

    background-image: url(../images/right.png)!important;
    background-position: 88%;
}

.Choco_arrows
{
    position: relative;
    top: -100%;

    display: none;

    width: 49%;
    height: 100%;
    margin-top: -30px;

    cursor: pointer;

    background-repeat: no-repeat;
}

#Choco_container_photo
{
    width: 800px;
    height: 600px;

    text-align: center;
    /*background:url(../images/ajax-loader.gif) center center no-repeat;*/
}

#Choco_container_description
{
    font-family: Tahoma;
    font-size: 12px;

    position: relative;

    visibility: hidden;
    clear: both;
    overflow: hidden;

    width: 100%;
    height: 26px;
    margin-top: -5px;
    padding: 0;

    color: #fff;
}

#Choco_container_title
{
    float: left;

    padding: 5px;
}

#Choco_container_via
{
    float: right;

    padding: 5px;
}

#Choco_container_via a
{
    color: gray;
}

#Choco_container_via a:hover
{
    color: white;
    background: gray;
}

#Choco_close
{
    z-index: 1002;

    display: none;

    width: 32px;
    height: 32px;
    margin: 0 0 15px 0;

    cursor: pointer;

    background-image: url(../images/close.png)!important;
    background-repeat: no-repeat;
}

#Choco_loading
{
    z-index: 1002;

    display: none;
    float: right;

    width: 9px;
    height: 11px;
    margin-top: -20px;

    cursor: pointer;

    background-image: url(../images/loading.gif);
    background-repeat: no-repeat;
}

#Choco_bigImage
{
    position: relative;

    display: none;

    width: 100%;
    height: 100%;
    margin-top: -5px;
}

@media(max-width:800px)
{
    #Choco_right_arrow
    {
        left: 15%;
    }
    #Choco_left_arrow
    {
        left: -15%;
    }
}
