body
{
    background-color: #ecf0f1;
}
.skills-grid p
{
    font-size: 1.1em;
    font-weight: 400;

    margin: 20px 0 0 0;

    color: #fff;
}
.skills-grid
{
    float: left;

    width: 25%;
    margin-right: 0;
    padding: 0 2.5em;
}
.skills-grid:nth-child(3)
{
    margin-right: 0;
}
.circle
{
    font-size: 25px;

    color: #fff;
}
span.circles-number
{
    font-size: 50px;
    font-weight: 600;
    line-height: 3.1em;
}
span.circles-text
{
    font-size: 25px;
    font-weight: 700;

    display: none!important;
}
.circles-text-wrp
{
    line-height: 122px!important;
}
span.circles-text
{
    font-size: 20px!important;

    display: none;
}

/*--Responsive--*/
@media (max-width:1366px)
{
    .skill-grids
    {
        margin-top: 0;
    }
}
@media (max-width:991px)
{
}
@media (max-width:800px)
{
    .skills-grid
    {
        float: left;

        width: 50%;
        margin-right: 0;
        padding: 1em 0 0;
    }
}
@media (max-width:768px)
{
}
@media (max-width:667px)
{
}
@media screen and (max-width:414px)
{
    .skills-grid
    {
        width: 100%;
    }
    .cir_agile_info
    {
        padding: 1em 0;
    }
}
/*--//Responsive--*/
